<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>钉钉授权</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      #box {
        width: 400px;
        height: 400px;
        position: fixed;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
        border: 1px dotted red;
      }
    </style>
    <script src="https://g.alicdn.com/dingding/dinglogin/0.0.5/ddLogin.js"></script>
  </head>
  <body>
    <div id="box"></div>
    <div onclick="test()">获取信息</div>
  </body>
  <script>
    var url = encodeURIComponent('http://7.vaiwan.com/ding');
    var goto = encodeURIComponent(
      'http://oapi.dingtalk.com/connect/oauth2/sns_authorize?appid=dingoabgnimhi1utq1spnp&response_type=code&scope=snsapi_login&state=STATE&redirect_uri=' +
        url
    );

    var obj = DDLogin({
      id: 'box', //这里需要你在自己的页面定义一个HTML标签并设置id，例如<div id="login_container"></div>或<span id="login_container"></span>
      goto, //请参考注释里的方式
      style: 'border:none;background-color:#FFFFFF;',
      width: '400',
      height: '400'
    });

    var handleMessage = function (event) {
      var origin = event.origin;
      // console.log('origin', event.origin);
      if (origin == 'https://login.dingtalk.com') {
        //判断是否来自ddLogin扫码事件。
        var loginTmpCode = event.data;

        //拿到loginTmpCode后就可以在这里构造跳转链接进行跳转了
        console.log('loginTmpCode', loginTmpCode);
        let turnUrl =
          'https://oapi.dingtalk.com/connect/oauth2/sns_authorize?' +
          'appid=' +
          'dingoabgnimhi1utq1spnp' +
          '&response_type=code&scope=snsapi_login&state=STATE&redirect_uri=' +
          'http://7.vaiwan.com/ding' +
          ' &loginTmpCode=' +
          loginTmpCode;
        window.location = turnUrl;
        // fetch('/oauth1/ding?code=' + loginTmpCode);
      }
    };
    if (typeof window.addEventListener != 'undefined') {
      window.addEventListener('message', handleMessage, false);
    } else if (typeof window.attachEvent != 'undefined') {
      window.attachEvent('onmessage', handleMessage);
    }

    function parseUri(name) {
      const reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
      const r = (window.location.search || '').substr(1).match(reg);
      if (r !== null) {
        return unescape(r[2]);
      }
      return false;
    }

    async function test() {
      const code = parseUri('code');
      const data = await fetch('/common/at?code=' + code).then(res => res.json());
      console.log(data);
    }
  </script>
</html>
