<!DOCTYPE html>
<html>
  <head>
    <title>测试demo222</title>
    <!--socket.io-->
    <script
      crossorigin="anonymous"
      integrity="sha512-tXH7Av8en7+/hg0XwBppaCDPmpJhUXbZ+j7lNC4y+ZQpmCZQcgQN6RjkM7Irj1MUW7bZengfuTOqR4RzCC4bnA=="
      src="https://lib.baomitu.com/socket.io/3.1.1/socket.io.min.js"
    ></script>
  </head>
  <body>
    <h1 style="text-align: center"><%= title %></h1>
    <hr />
    <button onclick="a()">点击测试</button>
    <ul id="ultext"></ul>
  </body>
  <script type="text/javascript">
    document.getElementById('ultext').innerHTML = window.history.length;

    const id = location.search;
    var socket = io.connect('ws://127.0.0.1:3330/socket?roomId=' + id.split('=')[1]); // 括号内参数为scoket服务器，若页面和其是同一服务则可省略
    function a() {
      /**
       * emit 向服务端发送信息
       * post 为服务端自定义的事件名称
       * 123456 为传递的内容
       * */
      let s = { data: '11111' + new Date().toLocaleString(), method: 'handleMessage' };
      socket.emit('post', s);
    }
    /**
     * 监听服务器返回的数据
     * send 为服务端自定义的事件名称
     * 回调函数处理得到的额服务信息
     * */
    socket.on('send', function (data) {
      console.log(data);
      var htmldatas = data;
      var html = '';
      for (var i = 0; i < htmldatas.length; i++) {
        var htmldata = htmldatas[i];
        html += '<li>' + htmldata + '</li>';
      }
      document.getElementById('ultext').innerHTML = html;
    });
    socket.on('add', function (data) {
      console.log(data);
    });

    // const ws = new WebSocket('ws://localhost:3330?roomId=11', 'huangfu');
    // ws.onopen = (ev) => {
    //   console.log(ev);
    // };
    // ws.onmessage = (msg) => {
    //   console.log(msg);
    // };
    // const res = {
    //   msg: 'this is test msg',
    //   fn: 'this is test request'
    // };
    // setTimeout(() => {
    //   ws.send(JSON.stringify(res));
    // }, 3000);
  </script>
</html>
